.top-section-wrapper
    .layout.top-section 
        a.top-section__link(href="#") Доставка и оплата
        a.top-section__link(href="#") Гарантия и возврат
        a.top-section__link(href="#") EN
.layout
    include header.pug
    include content.pug
.footer-wrapper
    .layout
        include footer.pug        