@use "./fonts" as *;
@use "./colors" as c;
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 12px;

    &__logo-group {
        display: flex;
        align-items: center;
        width: 217px;
        min-width: 217px;
        margin-right: 16px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 479px;
        width: 100%;
    }

    &__rs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
        & .button {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            border-radius: 100px;
            color: rgb(255, 255, 255);
            font-family: "Lato", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
            background: c.$dark-gray;
            height: 39px;
            width: 138px;
            margin-left: 23px;
            &__icon {
                width: 32.67px;
                height: 32px;
                position: relative;
                margin-right: 5px;
                & .count {
                    position: absolute;
                    background: rgb(255, 255, 255);
                    color: c.$count-text;
                    font-family: "Inter", serif;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 140%;
                    letter-spacing: 0%;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    text-align: left;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    right: 0;
                    text-align: center;
                    line-height: 1;
                }
            }

        }

    }

    &__burger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        z-index: 123;

        div {
            background-color: c.$dark-gray;
            height: 4px;
            width: 100%;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
    }
}
.input-wrapper {
    width: 170px;
    height: 39px;
    border-radius: 88.64px;
    border: 1px solid c.$border;
    padding: 0 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width 0.3s ease, padding 0.3s ease, transform 0.3s ease;
    margin-left: 16px;

    &__search {
        width: 21px;
        height: 21px;
        flex: 1;
        transition: width 0.3s ease, height 0.3s ease;
    }

    &__icon {
        max-width: 100%;
        transition: width 0.3s ease, height 0.3s ease;
    }
}
.header-list-item {
    &__link {
        color: c.$dark-gray;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        opacity: 1;
        transition: opacity 0.3s ease;
        white-space: nowrap;
    }

    &:hover &__link {
        opacity: 0.7; 
    }
}
@media (max-width: 770px) {
    .header {
        &__list {
            display: none; 
            flex-direction: column; 
            width: 100%; 
            position: absolute;
            top: 60px;
            max-width: none;
            left: 0;
            right: 0;
            background-color: #fff;
            padding: 20px 0;
            z-index: 100;
            opacity: 0;
            transition: opacity 0.3s ease;
            &.open {
                display: flex; 
                opacity: 1;
                background-color: c.$dark-gray;
                top: 40px;
                .header-list-item {
                    margin-bottom: 20px;
                }
                .header-list-item__link {
                    color: #fff;
                }
            }
        }
        &__burger {
            display: flex;
            &.active  {
                & div {
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        position: relative;
                        top: 8px;
                        background-color: #fff;
                    }
                    &:nth-child(2) {
                        opacity: 0;

                    }
                    &:nth-child(3) { 
                        transform: rotate(-45deg);
                        position: relative;
                        top: -8px;
                        background-color: #fff;
                    }

                }
            }
        }
    }
    .header-rs {
        display: none; 
    }
}
@media (max-width: 1600px) {
    .input-wrapper {
        width: 39px;
        height: 39px;
        background: c.$dark-gray;
        padding: 0;
        justify-content: center;
        transform: scale(1); 
        svg {
            path {
                fill: #fff;
            }
        }
    }

    .input-wrapper__search {
        width: 0;
        height: 0;
        display: none;
    }

    .input-wrapper__icon {
        width: 16px;
        height: 16px;
    }

    .input-wrapper:hover {
        width: 170px;
        padding: 0 21px;
        transform: scale(1.2); 
        background-color: #fff;
        svg {
            path {
                fill: c.$dark-gray;
            }
        }
    }

    .input-wrapper:hover .input-wrapper__search {
        width: 21px;
        height: 21px;
        display: flex;
    }

    .input-wrapper:hover .input-wrapper__icon {
        width: 21px;
        height: 21px;
    }
    .input-active {
        .header__list {
            display: none;
        }
    }
}
