include  ../ui/product

.main-title Результаты поиска
.products
    +widget("Акция", "images/1.jpg", "Встраиваемый светильник Markt", "3 490", "5 060", "")
    +widget("", "images/2.jpg", "Линейный светильник ARG", "", "", "6 700")
    +widget("Акция", "images/3.jpg", "Сведодиодный светильник ", "5 060", "6 060", "")
    +widget("", "images/4.jpg", "Встраиваемый светильник Markt", "", "", "3 490")
    +widget("Акция", "images/5.jpg", "Линейный светильник ARG", "6 700", "6 060", "")
    +widget("", "images/6.jpg", "Сведодиодный светильник ", "", "", "5 060")
    +widget("Акция", "images/7.jpg", "Встраиваемый светильник Markt", "3 490", "6 060", "")
    +widget("", "images/8.jpg", "Линейный светильник ARG", "", "", "6 700")
